.addButton {
    outline: none;
    background: linear-gradient(
      to top left,
      rgb(250, 240, 93),
      rgb(253, 189, 65)
    );
    font-size: 2.5rem;
    border: none;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    text-align: center;
    font-size: 50px;
    color: rgb(233, 105, 106);
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .addBar {
    position: relative;
  }
  
  .addButton:hover {
    transform: rotate(180deg);
    justify-content: center;
  }
  .nav{
      display: flex;
      justify-content: space-between;
  }